.item-header {
  display: flex;
  text-align: center;
  align-items: center;
  grid-area: header;
  background-color: white;
}
.item-main {
  display: flex;
  align-items: stretch;
  grid-area: main;
  background-color: #f3f3f4;
  padding: 20px;
}
.item-sidebar {
  grid-area: sidebar;
  background-color: #263a4a;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 4% repeat(3, 1fr);
  grid-template-rows: 60px repeat(2, 1fr);
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main";
}

.menu {
  width: 25%;
  background-color: #f3f3f4;
  padding: 0 20px 20px 0;
}
.mails {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.list {
  position: relative;
  display: inline-block;
}

.list:after {
  content: "list";
}

.menu-list {
  height: 25px;
  display: flex;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 3px;
}
