.item-header {
  grid-area: header;
  background-color: aliceblue;
}
.item-main {
  display: flex;
  align-items: stretch;
  grid-area: main;
  background-color: aqua;
}
.item-sidebar {
  grid-area: sidebar;
  background-color: blueviolet;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 15% repeat(3, 1fr);
  grid-template-rows: 70px repeat(2, 1fr);
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main";
}

.menu {
  width: 25%;
  background-color: burlywood;
}
.mails {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: coral;
}
