<div
  class="container"
  [ngStyle]="{
    'grid-template-columns': isMenuExpanded
      ? '15% repeat(3, 1fr)'
      : '4% repeat(3, 1fr)'
  }"
>
  <div class="item-header">
    <span
      class="material-icons list"
      style="
        color: #00b494;
        font-size: xx-large;
        padding: 0 20px 0 20px;
        cursor: pointer;
      "
      (click)="onMenuToggle()"
    >
    </span>
    <div style="color: #999999">Search something...</div>
  </div>

  <div class="item-main">
    <div class="menu" style="display: flex; flex-direction: column">
      <div style="margin: 10%; height: 10%">
        <button
          mat-button
          (click)="onComposeMail()"
          style="
            width: 100%;
            height: 50px;
            border-radius: 5px;
            background-color: #00b494;
            color: white;
          "
        >
          Compose Mail
        </button>
      </div>
      <div style="height: 30%; margin-bottom: 10px">
        <div style="margin-bottom: 10px">FOLDERS</div>
        <ul style="list-style-type: none; padding-left: 0%; cursor: pointer">
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              inbox
            </span>
            <div>Inbox</div>
          </li>
          <li class="menu-list" (click)="onSentMail()">
            <span class="material-icons" style="padding-right: 10px" >
              mail_outline
            </span>
            <div>Sent Mail</div>
          </li>
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              new_releases
            </span>
            <div>Important</div>
          </li>
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              drafts
            </span>
            <div>Drafts</div>
          </li>
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              delete_outline
            </span>
            <div>Trash</div>
          </li>
        </ul>
      </div>
      <div style="height: 30%; margin-bottom: 10px">
        <div style="margin-bottom: 10px">CATEGORIES</div>
        <ul style="list-style-type: none; padding-left: 0%; cursor: pointer">
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              inbox
            </span>
            <div>Inbox</div>
          </li>
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              mail_outline
            </span>
            <div>Sent Mail</div>
          </li>
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              new_releases
            </span>
            <div>Important</div>
          </li>
        </ul>
      </div>
      <div style="height: 30%; margin-bottom: 10px">
        <div style="margin-bottom: 10px">LABELS</div>
        <ul style="list-style-type: none; padding-left: 0%; cursor: pointer">
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              inbox
            </span>
            <div>Inbox</div>
          </li>
          <li class="menu-list" >
            <span class="material-icons" style="padding-right: 10px">
              mail_outline
            </span>
            <div>Sent Mail</div>
          </li>
          <li class="menu-list">
            <span class="material-icons" style="padding-right: 10px">
              new_releases
            </span>
            <div>Important</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="mails">
      <div
        style="
          display: flex;
          align-content: space-between;
          text-align: center;
          align-items: center;
          padding: 10px;
        "
      >
        <p style="font-size: x-large">Inbox ( {{ unReadMails }} )</p>
        <div style="padding-left: 50%">
          <input
            type="text"
            placeholder="search email"
            (keyup.enter)="searchEmail($event)"
          />
        </div>
      </div>
      <div
        style="
          display: flex;
          align-content: space-between;
          text-align: center;
          align-items: center;
          padding: 10px;
          cursor: pointer;
        "
      >
        <div
          style="
            display: flex;
            text-align: center;
            align-items: center;
            padding: 5px;
          "
        >
          <span class="material-icons"> cached </span>
          <div style="padding-left: 10px">Refresh</div>
        </div>
        <div style="padding: 5px">
          <span class="material-icons"> visibility </span>
        </div>
        <div style="padding: 5px">
          <span class="material-icons"> priority_high </span>
        </div>
        <div style="padding: 5px; margin-left: 70%">
          <span class="material-icons">arrow_back </span>
        </div>
        <div style="padding: 5px">
          <span class="material-icons">arrow_forward </span>
        </div>
      </div>
      <ul
        style="
          height: 80%;
          list-style-type: none;
          padding: 0;
          background-color: #f3f3f4;
        "
      >
        <li
          *ngFor="let mail of mails"
          style="
            display: flex;
            justify-content: space-around;
            height: 50px;
            font-size: medium;
            text-align: center;
            align-items: center;
            background-color: white;
            margin: 2px 0 2px;
            cursor: pointer;
          "
          (click) = "openMail(mail)"
        >
          <div style="padding: 5px; z-index: 1;" (click)="deleteMail(mail)">
            <span class="material-icons"> delete_outline </span>
          </div>
          <div class="name" style="width: 15%">
            {{ mail.senderName }}
          </div>
          <div class="sub" style="width: 65%">
            {{ mail.sub }}
          </div>
          <div class="date" style="width: 15%">
            {{ mail.time }}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="item-sidebar">
    <div style="text-align: center"></div>
  </div>
</div>
